<div class="content-wrapper">
<?php
while($row = $sth->fetch()) {
    echo '<div class="content"><span class="date">'.
    $row['date'].'</span>'.
    $row['text'].'</div>';

    // осуществляем вывод разделительной линии (split bar) после каждой записи, кроме последней на странице
    if($_GET['page'] != $pages) {
        if($splitBar % Core::DISPLAY_NEWS != 0) {
            echo '<div class="d"></div>';
            $splitBar++;
        }
    }
    else {
        if($splitBar % Core::DISPLAY_NEWS != 0 && $splitBar != $rows % Core::DISPLAY_NEWS) {
            echo '<div class="d"></div>';
            $splitBar++;
        }
    }
}
?>
</div>
<div class="pag-wrapper">
    <?php pagination($pages, 'homepage');?>
</div>